<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  <table class="table table-striped-columns table-bordered" style="width: 60%; margin-top: 20px;" th:align="center">
    <tr>
      <td th:text="제목"></td>
      <td th:text="${board.title}"></td>
    </tr>
    <tr>
      <td th:text="작성자"></td>
      <td th:text="${board.member.nickname}"></td>
    </tr>
    <tr style="height: 200px;">
      <td th:text="내용"></td>
      <td th:text="${board.content}"></td>
    </tr>
    <tr>
      <td th:text="등록일"></td>
      <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    <tr>
      <td th:text="수정일"></td>
      <td th:text="${#temporals.format(board.modifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    <!--
    <tr>
      <td th:text="조회수"></td>
      <td th:text="${board.cnt}"></td>
    </tr>
    -->
  </table>
  <hr>
  <!-- Comment List -->
  <table class="table table-striped-columns table-bordered" style="width: 60%; margin-top: 20px;" th:align="center">
    <tr>
      <td colspan='5' th:text="|   Comments : ${commentList.size()}|"></td>
    </tr>
    <tr th:if="${commentList.size()!=0}" th:each="comment, state : ${commentList}">
      <td style="width: 5%" th:text="${state.count}">
      <td style="width: 45%" th:text="${comment.content}"></td>
      <td style="width: 15%" th:text="${comment.member.nickname}"></td>
      <td style="width: 20%" th:text="${#temporals.format(comment.modifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
      <td style="width: 15%">
      <button type="button" class="btn btn-light" th:if="${memberID == comment.member.memberId}" th:onclick="|location.href='@{/updateComment(seq=${comment.seq})}'|">수정</button>
      <button type="button" class="btn btn-light" th:if="${memberID == comment.member.memberId}" th:onclick="|location.href='@{/deleteComment(seq=${comment.seq})}'|">삭제</button>
      </td>
    </tr>
    <tr th:if="${commentList.size()==0}">
      <td>~~등록 된 댓글이 없습니다~~</td>
    </tr>
  </table>

  <!-- Comment 입력 -->
  <div th:align="center">
    <form th:action="addComment" method="post">
      <input name="BOARD_SEQ" type="hidden" th:field="*{board.seq}">
      <div class="d-flex flex-row" style="justify-content: center; align-items: center; width: 60%;">
        <textarea style="width: 80%;" name="content" class="form-control" rows="2"></textarea>&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-light">댓글 등록</button>
      </div>
    </form>
  </div>

  <!-- 하부 버튼 -->
  <div class="d-flex flex-row" style="justify-content: center; align-items: center; margin-top: 10px;">
    <button type="button" class="btn btn-outline-info" th:if="${memberID == board.member.memberId}" th:onclick="|location.href='@{/updateBoard(seq=${board.seq})}'|">수정</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" th:if="${memberID == board.member.memberId}" th:onclick="|location.href='@{/deleteBoard(seq=${board.seq})}'|">삭제</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-warning" th:onclick="|location.href='@{/insertBoard}'|">새글등록</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='@{/boardList}'|">글목록</button>
  </div>
</body>
</html>