<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 입력</title>
</head>
<body>
  <form th:action="insertBoard" method="post">
    <table border="1">
      <tr>
        <td th:text="제목"></td>
        <td><input name="title" type="text"></td>
      </tr>
      <tr>
        <td th:text="작성자"></td>
        <td th:text="${member.nickname}"></td>
        <input name="MEMBER_SEQ" type="hidden" th:field="${member}">
      </tr>
      <tr>
        <td th:text="내용"></td>
        <td><textarea name="content" rows="7" cols="50"></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" value="게시글 등록" /></td>
      </tr>
    </table>
  </form>
</body>
</html>